footer{
    font-family: name;
    color: #d889ba;
}
@font-face {
    font-family: name;
    src: url(/assets/css/BetterGrade-519DV.ttf);
}
@font-face {
    font-family: font;
    src: url(/assets/css/Timeburner-xJB8.ttf);
}
h1, h3, h5{
    font-family: font;
    color: rgb(255, 255, 255);
}
h4{
    color:#d889ba;
    font-weight: bold;
    font-family: font;
}
.decoText{
    width: 100%;
    height: 3px;
    background-color: #d889ba;
}
h2{
    font-family: name;
    color: #d889ba;
}
a{
    font-family: font;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: black;
    text-decoration: none;
}
nav{
    margin-bottom: 100px;
}
.btnIndex{
    background-image: url('/assets/img/newbtn.png');
    background-size: cover;
    height: 220px;
    width: 400px;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 100px;
    filter: grayscale(100%);
    transition : filter 1s;
}
.btnIndex:hover{
    filter : none;
    color: #d889ba;
}
.btnCard{
    border: 2px;
    border-color: #d889ba;
    border-style: inset;
    border-radius: 0%;
    transition: color 1s;
    background-color: beige;
    transition: background-color 1s;
}
.btnCard:hover{
    color: rgb(0, 0, 0);
    background-color: #d889ba;
}
.card-title{
    color: #d889ba;
}
.cardPortefolio{
    box-shadow: 3px 3px 3px #02020277;
    border: none;
    background-color:#353535;
    padding: 20px;
}
.lien {
    color: black;
    font-size: 35px;;
    font-weight: bold;
    padding: 20px;
}
.btnContact{
    background-color: #000000;
    font-family: font;
    color: #d889ba;
    font-size: 25px;
    border-radius: 50%;
    padding: 10px;
    border-style: none;
    box-shadow: 3px 3px 3px #d889ba;
    position: fixed;
    right: 60px;
    margin-top: -100px;
}
.btnContact:hover{
    background-color: #d889ba;
    color: white;
    box-shadow: 3px 3px 3px #d889ba;

}
.btnCv{
    background-image: url('/assets/img/newbtn.png');
    background-size: cover;
    height: 150px;
    width: 290px;
    font-weight: bolder;
    padding-top: 50px;
    font-size: 35px;
    text-align: center;
}
.myBody{
    background-color: #424242;
    color: white;
}
i {
 color: #ffffff;
 font-size: 20px;
}
.myModal {
    background-color: #d889ba;
    color: azure;
}

